
*.pyc
strainOptimizer/__pycache__/__init__.cpython-37.pyc
*.pyc
*.pyc
strainOptimizer/__pycache__/__init__.cpython-37.pyc
strainOptimizer/io/__pycache__/__init__.cpython-37.pyc
strainOptimizer/manipulation/__pycache__/__init__.cpython-37.pyc
strainOptimizer/strainDesign/ecFactory/__pycache__/run_ecFactory.cpython-37.pyc
strainOptimizer/strainDesign/ecFactory/__pycache__/find_min_sets.cpython-37.pyc
strainOptimizer/strainDesign/ecFactory/__pycache__/ecFactory_other.cpython-37.pyc
strainOptimizer/simulation/__pycache__/pprotFBA.cpython-37.pyc
strainOptimizer/simulation/__pycache__/__init__.cpython-37.pyc
strainOptimizer/manipulation/constraint/__pycache__/enzyme.cpython-37.pyc
strainOptimizer/manipulation/__pycache__/__init__.cpython-37.pyc
strainOptimizer/io/__pycache__/ecModel.cpython-37.pyc
strainOptimizer/io/__pycache__/__init__.cpython-37.pyc
strainOptimizer/analysis/__pycache__/protein_process.cpython-37.pyc
strainOptimizer/analysis/__pycache__/optimal_yield.cpython-37.pyc
strainOptimizer/analysis/__pycache__/model_process.cpython-37.pyc
strainOptimizer/analysis/__pycache__/mainFunction.cpython-37.pyc
strainOptimizer/analysis/__pycache__/enzyme_variety_analysis.cpython-37.pyc
strainOptimizer/analysis/__pycache__/__init__.cpython-37.pyc
strainOptimizer/__pycache__/__init__.cpython-37.pyc
*.pyc
*.pyc
/cameo/
/draft/
/reference/
.idea/
/logs/
data/yeast_thermo/cc_params.npz
data/yeast_thermo/compounds.sqlite
/examples/wlj/
/examples/model_growth_simulation.py
/examples/data/sce_growth_data.csv
/logs/
/examples/result/
/sclareol_cell_factory_design/
